@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.header-color {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.landing-grid {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#projects-grid, #about-grid {
    position: relative;
    margin-top: -30px;
}

#home-grid, #writing-grid {
    position: fixed;
}

.blog-header {
  padding: 5em;
}

.blog-header ul {
  padding: 2em;
}

#logo {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

 {
  width: 1090px;
  height: 42px;
  list-style: none;
  margin: 10px 0 0 0; padding: 25px 10px;
  border-top: 4px double #AAA;
  border-bottom: 4px double #AAA;
  position: relative;
  text-align: center;
}
#menu li {
  display: inline-block;
  width: 173px;
  margin: 0 20px;
  position: relative;
  -webkit-transform: skewy(-3deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 200ms all;
}
#menu li a {
  text-transform: uppercase;
  font-family: 'Squada One', cursive;
  font-weight: 800;
  display: block;
  background: #FFF;
  padding: 2px 10px;
  color: #333;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  text-shadow:
		1px 1px 0px #FFF,
		2px 2px 0px #999,
		3px 3px 0px #FFF;
	background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);
	-webkit-transition: 1s all;
	background-image: -webkit-linear-gradient(left top,
		transparent 0%, transparent 25%,
		rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%,
		transparent 50%, transparent 75%,
		rgba(0,0,0,.15) 75%);
  background-size: 4px 4px;
	box-shadow:
		0 0 0 1px rgba(0,0,0,.4) inset,
		0 0 20px -5px rgba(0,0,0,.4),
		0 0 0px 3px #FFF inset;
}
#menu li:hover {
	width: 203px;
	margin: 0 -5px;
}
#menu a:hover {
  color: #d90075;
}
#menu li:after,
#menu li:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background: #BBB;
  -webkit-transform: skewY(8deg);
  x-index: -3;
	border-radius: 4px;
}
#menu li:after {
	background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
  right: 0;
  top: -4px;
}
#menu li:before {
  left: 0;
  bottom: -4px;
	background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
}












.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}




#project-header {
  color: white;
  padding-top: 50px;
  justify-content: center;
  display: flex;
}

#project-row-1 {
margin-top: 50px;
display: flex;
justify-content: center;
}

#project-row-2 {
margin-top: 50px;
display: flex;
justify-content: center;
}

.project-tile {
  width: 25%;
  height: 300px;
  border: 2px solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px; 
  margin: 10px;
  background: white;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-footer {
  padding: 5px 0;
  background: #D3D3D3;
  text-align: center;
  width: 100%;
  height: 40px;
  margin-top: 2px;
}


.project-name {
  text-transform: uppercase;
  font-family: 'Montserrat', cursive;
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
}

#show-more {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 45px;
}

.btn {
  color: black;
  background-color: #D3D3D3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
  width:10%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px   rgba(0,0,0,0.23);
  font-family: 'Montserrat', cursive;
}

.hover-btn:hover {
  animation-name: button-pop;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes button-pop {
  100% {
  transform: scale(1.2);
  background-position: -50px;
  }
} 

#about-me-container {
  background: white;
  padding: 15px;
  max-width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  height: 600px;
  border: 2px solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 10px; 
}

  #long-details {
  text-align:center;
  height: 95%;
  margin-top: 20px;
  text-align: center;
  min-width:300px;
  overflow-y: scroll;
} 


#long-details p {
  font-family: 'Montserrat', cursive;
  font-size: 20px;
  }
